#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ 
            // ┃     =     ┃     1     ┃     2     ┃     3     ┃     4     ┃     5     ┃     8     ┃     ┃     7     ┃     8     ┃     9     ┃     0     ┃     P     ┃     G     ┃           ┃ 
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   
            // ┃    TAB    ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃           ┃     ┃           ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃           ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃    ESC    ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃           ┃     ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃           ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃     ⇧     ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃           ┃     ┃           ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃           ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃     9     ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃           ┃     ┃           ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                                 ┃    DEL    ┃    TAB    ┃    SPC    ┃     ┃    DEL    ┃    TAB    ┃    SPC    ┃
            //                                                 ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &tog 8                                                   &mo 10     &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &to 1                                                    &none      &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&mo 9      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &mo 9
            >;
        };

        colemak-dh {
            bindings = <
&kp EQUAL       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &trans                                                                               &trans         &kp NUMBER_6  &kp N7    &kp N8     &kp N9            &kp N0             &kp MINUS
&kp TAB         &kp Q         &kp W         &kp F         &kp P         &kp G   &kp NUMBER_3                                                                         &kp ESC        &kp J         &kp L     &kp U      &kp Y             &kp SEMICOLON      &kp BACKSLASH
&kp GRAVE       &kp A         &kp R         &kp S         &kp T         &kp D   &trans        &kp LEFT_COMMAND  &kp K_FORWARD      &kp DEL        &kp RIGHT_COMMAND  &kp ESC        &kp H         &kp N     &kp E      &kp I             &kp O              &kp SINGLE_QUOTE
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V         &kp B                                   &kp HOME           &kp PAGE_UP                                      &kp K         &kp M     &kp COMMA  &kp PERIOD        &kp SLASH          &kp RSHIFT
&trans          &trans        &trans        &kp LEFT      &kp RIGHT             &kp SPACE     &kp ENTER         &kp BACKSPACE      &kp BACKSPACE  &kp ENTER          &kp BACKSPACE                &kp DOWN  &kp UP     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_SHIFT
            >;
        };
    };
};
